.sidenav-container {
  height: 100vh;
  background-color: #e3f2fd; /* Azul claro como fondo */
}

mat-toolbar {
  background-color: #0288d1; /* Azul profundo para el toolbar */
  color: #ffffff; /* Texto blanco para contraste */
  font-size: 20px;
  font-weight: bold;
}

mat-nav-list {
  background-color: #b3e5fc; /* Azul suave */
  padding: 8px;
}

button[mat-button] {
  width: 100%; /* Que ocupe todo el ancho */
  text-align: left; /* Alineación del texto */
  color: #212121; /* Letras negras */
  background-color: #81d4fa; /* Azul pastel */
  border-radius: 4px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de letra */
  margin: 8px 0; /* Espaciado entre botones */
  padding: 8px 12px; /* Relleno interno */
}

button[mat-button]:hover {
  background-color: #0288d1; /* Azul más fuerte al pasar el ratón */
  color: #ffffff; /* Texto blanco al hacer hover */
}

button[mat-button]:active {
  background-color: #01579b; /* Azul aún más oscuro cuando se presiona */
}
