<mat-grid-list cols="2" rowHeight="1:1" class="grid-container">
    <!-- Primer tile: Gráfico -->
    <mat-grid-tile>
      <app-reading-graph></app-reading-graph>
    </mat-grid-tile>
  
    <!-- Segundo tile: Tanque -->
    <mat-grid-tile>
      <app-tank></app-tank>
    </mat-grid-tile>
  
    <!-- Tercer tile: Elemento 3 -->
    <mat-grid-tile>
      <app-oxygen></app-oxygen>
    </mat-grid-tile>
  
    <!-- Cuarto tile: Elemento 4 -->
    <mat-grid-tile>
    <app-ph-display></app-ph-display>
    </mat-grid-tile>
  </mat-grid-list>
  